@charset "utf-8";

html {
    font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxygen', arial;
}

.top-nav {
    text-align: center;
    background: #612674;
}
.top-nav a {
    color: white;
    padding: 1em;
    display: block;
    text-decoration: none;
}
.top-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.top-nav a:hover {
    background: #7c3792;
}

.top-header {
    text-align: center;
}
.top-header-logo {
    margin: .5em;
}